.navbarItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: auto;
}
.navbarItem a{
    color: rgb(208, 245, 207);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
.navbarItem a:hover,
.navbarItem a:active,
.navbarItem a.active {
   
    color: rgb(150, 245, 245);
}
@media (min-width: 300px){
    .navbarItem{
        margin: 0;
        height: 100%;
        display: flex;
        width: auto;
        align-items: center;
    }
    .navbarItem a{
        color:white;
        border-bottom: 4px solid transparent;
        height: 100%;
        padding: 16px 10px;
      
    }
    .navbarItem a:hover,
    .navbarItem a:active,
    .navbarItem a.active {
        background-color: #232631;
    /*  #4OA4C8 */
    border-bottom: 4px solid rgb(145, 173, 173);
        color: rgb(235, 233, 233);
    }  
}